<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="appSidebar">
    <nav class="sidebar p-2">
        <h5 class="fw-bold">Menu</h5>
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" th:href="@{/dashboard}">🏠 Dashboard</a></li>
            <li class="nav-item mt-2">
                <span class="fw-bold">ITEM</span>
                <ul class="nav flex-column ms-3">
                    <li><a class="nav-link" th:href="@{/item/add}">Add Item</a></li>
                    <li><a class="nav-link" th:href="@{/item/invoice}">Add Invoice Item</a></li>
                </ul>
            </li>
            <li class="nav-item mt-2">
                <span class="fw-bold">SUPPLIER</span>
                <ul class="nav flex-column ms-3">
                    <li><a class="nav-link" th:href="@{/supplier/add}">Add Supplier</a></li>
                </ul>
            </li>
            <li class="nav-item mt-3">
                <span class="fw-bold">SALES</span>
                <ul class="nav flex-column ms-3">
                    <li><a class="nav-link" th:href="@{/sales/add}">Add Sale</a></li>
                    <li >
                        <a class="nav-link" th:href="@{/sales/reports}">Sales Reports</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item mt-3">
                <span class="fw-bold">QUOTATION</span>
                <ul class="nav flex-column ms-3">
                    <li><a class="nav-link" th:href="@{/quotation}">Add Quotation</a></li>
                </ul>
            </li>
            <li class="nav-item mt-3">
             <span class="fw-bold"> Permissions </span>
                <li sec:authorize="hasRole('ADMIN')">
                   <a class="nav-link" href="/admin/permissions">User Permissions</a>
                </li>
            </li>
        </ul>
    </nav>
</div>
