.fade-out {
    animation: fadeOut 1s ease-in-out 3s forwards;
}
@keyframes fadeOut {
    to { opacity: 0; display: none; }
}

#itemTable thead th {
    position: sticky;
    top: 0;
    background-color: #343a40; /* dark header */
    color: white;
    z-index: 1;
}
.sidebar {
    background-color: #fff8cc;
    height: 100vh;
    width: 250px;
}

.sidebar .nav-link {
    color: #000;
    transition: background-color 0.2s ease-in-out;
}

.sidebar .nav-link:hover {
    background-color: #ffe680;
    border-radius: 5px;
}
.container {
    background-color: #ffffff;
}

body {
    background-color: #fffef4;
    font-family: 'Segoe UI', sans-serif;
}

.header {
    background-color: #ffcc00;
    padding: 0.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}